$primaryColor: #23BFD4
    
.detail-page
    .detail-contenter
        width: 100%
        max-width: 1110px
        margin: 0 auto
        overflow: hidden
        position: relative
        padding: 24px 0
        .detail-inline
            display: flex
            align-items: center
            margin: 16px 0
        .detail-header
            display: flex
        .detail-image
            width: 600px
            border-radius: 8px
        .detail-info
            margin-left: 30px
            display: flex
            flex-direction: column
            &__title
                font-size: 28px
                font-weight: 600
            &__location
                font-size: 16px
                color: $primaryColor
                display: flex
                align-items: center
                svg
                    margin-right: 3px
            &__tag-wrap
                display: flex
                margin-left: 10px
            &__tag
                font-size: 12px
                background-color: #3333330D
                border-radius: 100px
                display: inline-block
                padding: 4px 8px
                margin-right: 8px