.search-btn
    border: solid !important
    border-top-left-radius: 0px !important
    border-top-right-radius: 4px !important
    border-bottom-left-radius: 0px !important
    border-bottom-right-radius: 4px !important
    border-width: 1px !important
    border-left-width: 0 !important
    border-top-color: #17b2c7 !important
    border-right-color: #17b2c7 !important
    border-bottom-color: #17b2c7 !important

.carousel
    display: flex
    align-items: center
    justify-content: space-between
    .carousel-wrapper
        width: 100%
        display: flex
        align-items: center
        justify-content: flex-start
        .carousel-content
            display: flex
            transition: all 250ms linear
            -ms-overflow-style: none
            scrollbar-width: none
            &-wrapper
                overflow: hidden
                width: 100%
            & > *
                width: 100%
                flex-shrink: 0
                flex-grow: 1
                margin: 0 10px
            &.show-2 > *
                width: 50%
            &.show-3 > *
                width: calc(100% / 3)
            &.show-4 > *
                width: calc(100% / 4)
            &::-webkit-scrollbar, &::-webkit-scrollbar
                display: none

.custom-title
    border-left-color: #23BFD4
    border-left-width: 12px
    border-left-style: solid
    padding-left: 8px
    margin: 32px 10px
    line-height: 125%
    font-size: 26px
    font-weight: 600

.custom-card
    box-shadow: none !important
    img
        border-radius: 4px
    &__content
        padding: 12px !important
    &__title
        font-size: 20px
        font-weight: 600
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        margin: 8px 0
    &__range
        font-size: 12px
        color: #33333399
        display: flex
        align-items: center
        svg
            margin-right: 3px
    &__location
        font-size: 16px
        color: #23BFD4
        display: flex
        align-items: center
        margin: 8px 0 0 0
        svg
            margin-right: 3px
    &__tag
        font-size: 12px
        background-color: #3333330D
        border-radius: 100px
        display: inline-block
        padding: 4px 8px
        margin: 10px 0 0 0