.search-btn
    border: solid !important
    border-top-left-radius: 0px !important
    border-top-right-radius: 4px !important
    border-bottom-left-radius: 0px !important
    border-bottom-right-radius: 4px !important
    border-width: 1px !important
    border-left-width: 0 !important
    border-top-color: #17b2c7 !important
    border-right-color: #17b2c7 !important
    border-bottom-color: #17b2c7 !important