.search-page
    .search-contenter
        width: 100%
        max-width: 1110px
        margin: 0 auto
        overflow: hidden
        position: relative
        padding: 24px 0
        .search-banner
            width: 100%